/* src/styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333;
  padding: 10px 20px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  /* padding: 20px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 32px;
  background-color: #030303;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  z-index: 10;
  /* border-radius: 32px; */
}

.navbar-logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.navbar-center {
  display: flex;
  gap: 32px;
}

.navbar-center a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.05rem;
  padding-bottom: 4px;
  transition: color 0.2s;
}

.navbar-center a.active {
  border-bottom: 2px solid #FFFFFF;
  color: #FFFFFF;
  margin-top: 1.5px;
}

.navbar-center a:hover {
  color: #FFFFFF;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.user-icon {
  font-size: 1.8rem;
  cursor: pointer;
  color: #FFFFFF;
}

.user-dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 36px;
  right: 0;
  background-color: #383838;
  box-shadow: 0px 2px 8px rgba(86, 86, 86, 0.1);
  border-radius: 6px;
  overflow: hidden;
  min-width: 120px;
  z-index: 20;
}

.dropdown-item {
  padding: 10px 16px;
  cursor: pointer;
  font-size: 0.95rem;
  color: #FFFFFF;
}

.dropdown-item:hover {
  background-color: #949494;
}

.menu-toggle {
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .navbar-center {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: white;
    padding: 20px 0;
    border-top: 1px solid #eee;
    display: none;
  }

  .navbar-center.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}

.date-filter {
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  max-width: 100%;
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: center;
}

.date-filter label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.date-filter input[type='date'] {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 8px;
}

.date-filter button {
  margin-top: 15px;
  padding: 10px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.date-filter button:hover {
  background-color: #0056b3;
}

.home-page-results {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0056b3;
  height: 100%;
}